.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  // background: var(--gate-user-card-bg);
  background: rgba(187, 247, 208, .5);

  padding: 12px;
  border-radius: 20px;

  @media (min-width: 400px) {
    padding: 16px;
  }
}

.time {
  display: grid;
  grid-template-columns: 1fr 62px;
  gap: 24px;
  align-items: flex-end;
}

.timeToUnblock {
  display: flex;
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(187, 247, 208, 0.5);
  border: 1px solid #11A694;
  justify-content: center;
}






.withViolation {
  background: rgba(254, 205, 211, .5);
}



.container {
  display: grid;
  grid-gap: 8px;
  gap: 8px;
  grid-template-columns: 100px 1fr;


  @media (min-width: 400px) {
    grid-gap: 8px;
    gap: 12px;
  }

}

.infoContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 18px;
  font-weight: 500;
  color: var(--violations-card-color);

}

.infoWrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100%;
}

.contactsContainer {
  display: grid;
  height: 100%;
}

.name {
  font-size: 16px;
  font-weight: 500;
  color: var(--gate-user-card-name);
}

.info {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
}

.phoneNumber {
  font-weight: 500;
}

// .gateUserCardBig {
//   border-bottom-left-radius: 20px;
// }

.carNumberList {
  gap: 4px;
}