.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  // background: var(--gate-user-card-bg);
  background: rgba(187, 247, 208, .5);

  padding: 16px;
  border-radius: 20px;

}






.withViolation {
  background: rgba(254, 205, 211, .5);
}



.container {
  display: grid;
  grid-gap: 12px;
  gap: 12px;
  grid-template-columns: 90px 1fr;

}

.infoContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 18px;
  font-weight: 500;
  color: var(--violations-card-color);

}

.infoWrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100%;
}

.contactsContainer {
  display: grid;
  height: 100%;
}

.name {
  font-size: 16px;
  font-weight: 500;
  color: var(--gate-user-card-name);
}

.info {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
}

.phoneNumber {
  font-weight: 500;
}

// .gateUserCardBig {
//   border-bottom-left-radius: 20px;
// }