.input {
  height: 46px;
  width: 100%;
  padding: 0px 8px 0px 16px;
  border-radius: 23px;
  border: 1px solid var(--input-border);
  background-color: var(--input-default);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.25px;

  &:active,
  &:focus-visible {
    border: 2px solid var(--green);
    outline: none;
  }
}

.inputWrapper {
  position: relative;
}

.label {
  position: absolute;
  top: -8px;
  left: 12px;
  padding: 0 4px;
  background-color: var(--white);
  color: var(--text-grey);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.3px;
  border-radius: 4px;
}