.gateUserCardList {
  display: grid;
  gap: 8px;
}

.container {
  padding: 16px 8px 32px;
}

.gateUsersPage {}

@media (min-width: 1024px) {
  .gateUsersPage {
    display: grid;
    grid-template-columns: 600px 400px;
    gap: 24px;
  }
}