.app.light {
  // --background-color: #F2F1F6; old
  --background-color: #F2F1F6;
  --violation-background-color: #fafafa;

  //buttons
  --button-primary-bg: #11A694;
  --button-primary-color: #ffffff;
  --button-green-active-color: rgba(0, 17, 26, .8);

  --button-clear-bg: none;
  --button-clear-color: #11A694;

  --button-warning-bg: #e76f51;
  --button-warning-color: #ffffff;

  //applink
  --appLink-primary-bg: none;
  --appLink-primary-color: #11A694;

  //Input
  --input-primary-color: #264653;
  --input-primary-bg: none;
  --input-primary-label-color: rgba(42, 58, 73, 0.64);
  --input-primary-label-bg: #ffffff;
  --input-primary-border: 1px solid rgba(5, 6, 17, 0.12);

  //gateUserCard 
  --gate-user-card-bg: #ffffff;
  --gate-user-card-name: rgba(30, 70, 83, .7);

  //StayTimerCard
  --stay-timer-card-bg: #ffffff;
  --stay-timer-card-color: #11A694;

  //ViolationsCard
  --violations-card-color: #264653;

  //Popup
  --popup-close-icon: #11A694;

  // --header-bg: #ffffff;
  // --footer-bg: #e1e1e1;
  --header-bg: rgba(251, 251, 253, 0.8);
  --footer-bg: rgba(251, 251, 253, 0.8);


  // --primary-color: rgba(5, 6, 17, 0.87);
  --primary-color: #264653;
  // --secondary-color: #86868b;
  --secondary-color: rgba(38, 70, 83, 1);
  ;
  --basic-white: rgba(255, 255, 255, 1);
  --text-grey: rgba(42, 58, 73, 0.64);

  --shadow: rgba(4, 14, 45, 0.30);
  --border-grey-border: rgba(5, 6, 17, 0.12);

  --form-default: #fff;
  --input-default: #fff;
  --input-border: rgba(5, 6, 17, 0.12);

  --icon-default-color: rgba(38, 70, 83, .8);
  --icon-default-color-hover: rgba(38, 70, 83, 1);
  --shadow-1dp: 0px 2px 2px rgba(51, 60, 82, 0.05), 0px 0px 2px rgba(0, 8, 29, 6%), 0px 1px 3px rgba(0, 8, 29, 8%);
  --shadow-8dp: 0px 12px 17px rgba(0, 8, 29, 5%), 0px 5px 22px rgba(0, 8, 29, 6%), 0px 7px 8px rgba(0, 8, 29, 8%);

  --button-green: rgba(42, 157, 143, 1);
  --button-green-hover: rgba(42, 157, 143, .8);
  --button-green-color: #F5F5F7;
  --button-green-color-hover: #264653;
}