.appLink {
  display: inline-flex;
  text-decoration: none;
  height: 46px;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 23px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.25px;
  cursor: pointer;

  &>svg {
    width: 24px;
    height: 24px;
  }

  &:global(.primary) {
    background-color: var(---appLink-primary-bg);
    color: var(--appLink-primary-color);
  }

}