.gateUsersPage {
  padding: 8px 8px 72px;
}

.title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .gateUsersPage {
    padding: 16px 16px 16px 96px;
  }
}