.imageControlWrapper {
  display: grid;
  gap: 16px;
}

.button {
  display: flex;
  height: 46px;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 23px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.25px;
  cursor: pointer;
  background-color: var(--button-primary-bg);
  color: var(--button-primary-color);
}